<!-- Transport.cshtml -->
@model AspWebTest2.Models.TransportViewModel

@{
    ViewData["Title"] = "Transport Information";
}

<h2>@ViewData["Title"]</h2>

<p>송장 번호: @(Model.Order.OrderID + 100000)</p>
<p>지번 주소: @Model.CustomerAddress.LocalAddress</p>
<p>상세 주소: @Model.CustomerAddress.DetailedAddress</p>
<p>유통사: @Model.DistributionHub.DistributionName</p>
<p>배송기사 성함: @Model.DriverInfo.DriverName</p>
<p>배송기사 전화번호: @Model.DriverInfo.DriverPhone</p>